<!doctype html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-365070-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-365070-2');
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicons galore -->
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <!-- OpenID 2 -->
        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
        <link rel="openid2.local_id" href="http://www.google.com/profiles/haavard.pedersen" />
        {% feed_meta %}
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-jb1k1ntK2AaXuVTIiFXgcGvjcWQrYlrsxipJRLPdwnr1sHBRqSLowOD2q3dIL5KG" crossorigin="anonymous">
        <link href="{{ "/assets/styles.css" }}" rel="stylesheet" />
        {% seo %}
    </head>
    <body>
        <div id="outer" class="container">
            <div id="header" class="container"><div id="sitename" class="text-center h1"><a href="/">Håvard Pedersen</a></div>
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Forside
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.categories contains "Norsk" %} active{% endif %}" href="/norsk/">
                            Norsk blogg<br /><small>(mest meninger og politikk)</small>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.categories contains "English" %} active{% endif %}" href="/english/">
                            English blog<br /><small>(mostly technical stuff)</small>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="/posts/">
                            <small>Alle poster</small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <form class="text-center" action="/sok/">
                    <input size="40" class="mx-auto" name="q" type="search" placeholder="Søk i nettstedet" />
                </form>
            </div>
            <div id="content" class="container">
            {{ content }}
            </div>
            <div id="footer" class="container text-center">
                Powered by <a href="https://github.com/fuzzy76/fuzzy76.github.io/">GitHub Pages</a>.
            </div>
        </div>
        <!-- Optional JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>    </body>
</html>




