---
layout: default
---
<div class="jumbotron">
    <p class="lead">Systemutvikler • Webdings • '76-modell • Prokrastinator • Pappa • Apple fanboy • Skeptiker • Informasjonsjunkie • Sosialliberalist • No more Mr. Nice Guy • GTD-praktikant • Ateist</p>
    <hr class="my-4" />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <p>Meg på nett</p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fab fa-facebook"></i></span><a href="https://www.facebook.com/fuzzy76">Facebook</a></li>
                        <li><span class="fa-li"><i class="fab fa-github"></i></span><a href="https://github.com/fuzzy76">GitHub</a></li>
                        <li><span class="fa-li"><i class="fab fa-goodreads"></i></span><a href="https://www.goodreads.com/user/show/70089200-h-vard-pedersen">GoodReads</a></li>
                        <li><span class="fa-li"><i class="fab fa-linkedin"></i></span><a href="https://www.linkedin.com/in/haavardp/">LinkedIn</a></li>
                        <li><span class="fa-li"><i class="fab fa-strava"></i></span><a href="https://www.strava.com/athletes/6902791">Strava</a></li>
                        <li><span class="fa-li"><i class="fab fa-twitter"></i></span><a href="https://twitter.com/fuzzy76">Twitter</a></li>
                    </ul>            
            </div>
            <div class="col-sm-6">
                <p>Mine prosjekter</p>
                <ul>
                    <li><a href="https://serdeg.no">SerDeg.no</a></li>
                    <li><a href="http://matfakta.net">Matfakta</a></li>
                    <li><a href="https://www.facebook.com/hedenskjul/">Hedensk julekalender (Facebook)</a></li>
                </ul>            
            </div>        
        </div>
    </div>
 </div>
 <div class="container">
     <div class="row">
         <div class="col-sm-6">
            <h2>Siste 3 norske:</h2>
            <ul class="list-unstyled">
                {% for post in site.categories.Norsk limit:3 %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}
                        <small class="text-muted">{{ post.date | date: "%e.%m.%y" }}</small>
                        </a>
                    </li>
                {% endfor %}    
            </ul>
         </div>
         <div class="col-sm-6">
            <h2>Siste 3 engelske:</h2>
            <ul class="list-unstyled">
                {% for post in site.categories.English limit:3 %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}
                        <small class="text-muted">{{ post.date | date: "%e.%m.%y" }}</small>
                        </a>
                    </li>
                {% endfor %}    
            </ul>
            </div>
        </div>
 </div>
